
<div class="header">
<div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
    <div class="simplebar-content" style="padding: 16px;">
      <nav class="nav nav-pills nav-gap-y-1 flex-column">


  <div class="row mt-5" >
   
                   
                    <div *ngFor="let commentaire of publications">
                      <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <div class="post-image">
                                <a data-fancybox="post1" data-lightbox-type="comments" data-thumb="assets/img/demo/unsplash/1.jpg" href="https://via.placeholder.com/1600x900" data-demo-href="assets/img/demo/unsplash/1.jpg">
                                    <img height="150" width="150" src="http://localhost:8089/WomenEmpowerment/publication/Imgarticles/{{commentaire.id}}"  alt="">
                                </a>
                                <!-- Action buttons -->
                                <!-- /partials/pages/feed/buttons/feed-post-actions.html -->
                            </div>
                          <div class="card-body">
                            <h5 class="card-title">{{commentaire.title}}</h5>
                            <p class="card-text">{{commentaire.description}}</p>
                            <p class="card-text">{{commentaire.users.firstName}}</p>
                            <p Class="card-text">{{commentaire.type}}</p>
                           
  
                          </div>
                          </div>
                      </div></div></div>
                    </nav>
                    </div></div>
              
                </div>