
<style>
  .center {
  display: flex;
  justify-content: center;
}
  #example {
    height: 650px;
    overflow: auto;
    overflow-x: hidden;
  }
  .lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image"></div>
    <div style="padding-top: 5%;">
      <div style="padding-left: 5%;">
        <div class="row">
          <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
            <div class="square square-7" id="square7"></div>
            <div class="square square-8" id="square8"></div>
            <div class="card card-register">
              <div class="card-header">
                <img
                  alt="Card image"
                  class="card-img"
                  src="assets/img/square1-red.png"
                />

                <h4 class="card-title"></h4>
              <div class="card-body">
                <form [formGroup]="form" >
                  <div class="form-row">
            
                    <div class="form-group col-md-6" [hidden]="" [ngClass]="{ 'input-group-focus': focus === true }">
                      <label>Title</label>
                      <input
                      [(ngModel)]="prod.title"
                        class="form-control"
                        formControlName="title"
                        placeholder="Title"
                        type="text"
                        (focus)="focus = true"
                        (blur)="focus = false"
                      />
                    </div>
                  </div>
                    
                    
                   
              

                

                  <div class="form-row">
                    <div class="form-group col-md-12" [ngClass]="{ 'input-group-focus': focus2 === true }">
                      
                      
                   


                  
                      <editor apiKey="ygugmxerdivc6t4mgaqpyeasjipswjysog4p1z5xmgxh9px0" [formControlName]="'description'" [(ngModel)]="prod.description"></editor>

                  </div>
                  </div>  
                
                    <div >
                      
                      <select [(ngModel)]="prod.type"  name="type" id="type" class="form-control"
                      formControlName="type"
                      placeholder="type">
                        <option value="">--Please choose an option--</option>
                    
                      
                   
              

                  <option value="Question">Question</option>
                  <option value="Video">Video</option>
                  <option value="Picture">Picture</option>
                  <option value="Other">Other</option>
                
                </select>
                  </div>
                  <div class="form-row">
                  
                  
                    <input id="feed-upload-input-2" type="file" type="file" accept=".png, .jpg, .jpeg" (change)="onSelectFile($event)" onchange="readURL(this)">


                   
                  
                </div>
                <button type="button" (click)="addProduit()" class="btn btn-success">Ajouter</button>
                </form>
                  <div>
                    <div>
                      <div>
                        <div>
                          <div>
                            <div>
                              <div>
                
                
              
  
                  
                  
              
                  
                  
                  
                
              </div>
              
            </div>
          </div>
        </div>
        <div class="register-bg"></div>
        <div class="square square-1" id="square1"></div>
        <div class="square square-2" id="square2"></div>
        <div class="square square-3" id="square3"></div>
        <div class="square square-4" id="square4"></div>
        <div class="square square-5" id="square5"></div>
        <div class="square square-6" id="square6"></div>
      </div>
    </div>
  </div>



