



<table class="table">
    <thead>
        <tr>
            <th (click)="Sort('lieuxReservation')">Date Event&nbsp;<i class="fa fa-sort"></i></th>
            <th (click)="Sort('lieuxReservation')">Titre&nbsp;<i class="fa fa-sort"></i></th>
            <th (click)="Sort('maxParticipants')">Lieux&nbsp;<i class="fa fa-sort"></i></th>
          
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let event of events | orderBy: key: reverse | paginate: {itemsPerPage:10,currentPage:p};">
           
            <td>{{event.dateReservation | date : 'yyyy.MM.dd' }}</td>
            <td>{{event.lieuxReservation}}</td>
         
            <td>{{event.maxParticipants}}</td>
            
        </tr>
    </tbody>
        <pagination-controls  style="position: absolute; padding-left: 20%;"
        (pageChange) ="p = $event"
        >
        </pagination-controls>
  </table>
  <br><br><br><br>
  <div class="grid-container">
    <div>

     <form [formGroup]="form" (ngSubmit)="add()">
      <table class="table">
      <thead>
         
      </thead>
      <tbody>
          <tr>   
             <td> <input formControlName="dateReservation" class="form-control" id="dateEvenement" type="date" placeholder="Date" min="{{minDate}}"   >
             
            </td> 
          </tr>
          <tr>   
            <td> <input formControlName="lieuxReservation" class="form-control" type="text" placeholder="lieuxReservation"> </td> 
         </tr>
           <tr>   
              <td> <input formControlName="maxParticipants" class="form-control" type="text" placeholder="maxParticipants"> </td> 
           </tr>
         
       

      </tbody>
    </table>
  
    <button class="button-1" role="button" style="margin: 10px" type="submit"> Ajouter </button>
    <button class="button-1" role="button" style="margin: 10px" > Annuler </button>
  </form>
  
  </div>
</div>

