
<div class="wrapper">
    <div class="page-header">
            <div class="content">

<h1>les commentaires</h1>
<div class="row mt-5" >
 
  <div *ngFor="let t of commentaires">
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/logo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{t.comment}}</h5>
          <p class="card-text">{{t.description}}</p>
          <a href="#" class="btn btn-primary">voir plus d'informations</a>
          <td class="td-actions">
            <button  type="button" rel="tooltip" class="btn btn-danger btn-sm btn-round btn-icon">
                <i class="tim-icons icon-simple-remove"></i>
            </button>
          </td>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>