<div class="wrapper">
  <div class="page-header">
    <div class="content">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


      <h1>les formations disponibles</h1>

      <div>
        <form class="form-inline my-2 my-lg-0">
          <input (keyup.enter)="addsearch(key.value)" matInput style="margin: auto;" type="search"
            (ngModelChange)="SearchTraining(key.value)" #key="ngModel" ngModel name="key" id="searchName"
            class="form-control mr-sm-2" placeholder="Search trainings by title" required>
          <button type="button" class="btn btn-outline-warning" (click)="startVoiceRecognition()">
            <i class="fa fa-microphone" aria-hidden="true"></i>
          </button>
        </form>

      </div>

      <div class="row">
        <div class="col-12">
          <div class="row mt-5">


            <div *ngFor="let t of trainings">


              <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img src="{{t.affiche}}" width="300" height="300" class="card-img-top" alt="...">


                  <div class="card-body">
                    <h5 class="card-title">{{t.title}}</h5>
                    <p class="card-text">{{t.description}}</p>


                    <button type="button" class="btn btn-primary btn-icon btn-round mr-1"
                      (click)="jaimetraining(Training)"><i class="tim-icons icon-heart-2"></i></button>
                    <a (click)="detailTrainings(t.idFormation)" class="btn btn-primary">See more !</a>


                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
          
          
        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
        <!--Sidebar Recommend-->
        <div *ngFor="let t of trainings1">
          <h5 class="card-title">{{t.title}}</h5>
          <p class="card-text">{{t.description}}</p>
        </div>

      </div>


    






    </div>

  </div>

</div>


<!-- <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>     -->

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>