<div class="wrapper">
  <div class="page-header">
          <div class="content">
<h1>les formations disponibles</h1>

<div class="row mt-5" >
 
  <div *ngFor="let t of trainings">
   
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img src="{{t.affiche}}" class="card-img-top" alt="...">
        
        
        <div class="card-body">
          <h5 class="card-title">{{t.title}}</h5>
          <p class="card-text">{{t.description}}</p>

          
          <button type="button" class="btn btn-primary btn-icon btn-round mr-1" (click)="jaimetraining(Training)"><i class="tim-icons icon-heart-2"></i></button>
          <a (click)="detailTrainings(t.idFormation)" class="btn btn-primary">See more !</a> 
          
           <!-- <a routerLink="{{t.idFormation}}" class="btn btn-primary">See more !</a>  -->
          <!-- <td class="td-actions">
            <button (click)="deleteTraining(t.idFormation)" type="button" rel="tooltip" class="btn btn-danger btn-sm btn-round btn-icon">
                <i class="tim-icons icon-simple-remove"></i>
            </button>
          </td> -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>
  </div>
  </div>
  <!-- boutton
  <li _ngcontent-ucu-c66="" ng-reflect-ng-class="nav-item," class="nav-item ng-star-inserted active">
    <a _ngcontent-ucu-c66="" href="javascript:void(0);" role="tab" class="nav-link active" aria-controls="" aria-selected="true" id="">
      <span _ngcontent-ucu-c66="" ng-reflect-ng-transclude="[object Object]">
     </span><i class="tim-icons icon-bag-16 ng-star-inserted"></i> show more trainings  <!--container--><!--bindings={}--> <!--</a>
    <!--</li> -->

<!--pagination-->
    
    <div class="col-md-6">
      <pagination
        class="pagination-danger"
        [boundaryLinks]="true"
        [totalItems]="45"
        [ngModel]="pagination"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      > </pagination><br />
    </div>
     
      
<app-detailtraining [trainings]="trainings" (trainingEvent)="afficher($event)"></app-detailtraining>

      
 <div class="wrapper">
  <div  class="mat-elevation-z8 small-table">
    <table mat-table [dataSource]="trainings" class="full-width-table" matSort aria-label="Elements" >
    
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
    
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> FirstName </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
    
      <ng-container matColumnDef="dateDebut">
        <th mat-header-cell *matHeaderCellDef> LastName </th>
        <td mat-cell *matCellDef="let element"> {{element.dateDebut}} </td>
      </ng-container>
    
      <ng-container matColumnDef="dateFin">
        <th mat-header-cell *matHeaderCellDef> Enabled </th>
        <td mat-cell *matCellDef="let element"> {{element.dateFin}} </td>
      </ng-container>
    
        <ng-container matColumnDef="nbrMaxApprenant">
          <th mat-header-cell *matHeaderCellDef> Locked </th>
          <td mat-cell *matCellDef="let element"> {{element.nbrMaxApprenant}} </td>
        </ng-container>
  
        <ng-container matColumnDef="affiche">
          <th mat-header-cell *matHeaderCellDef> Locked </th>
          <td mat-cell *matCellDef="let element"> {{element.affiche}} </td>
        </ng-container>
  
        <ng-container matColumnDef="formateur">
          <th mat-header-cell *matHeaderCellDef> Locked </th>
          <td mat-cell *matCellDef="let element"> {{element.formateur}} </td>
        </ng-container>
    
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <mat-paginator [length]="100"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page">
      </mat-paginator>
    </table>
    
    </div>
</div>
