<div class="wrapper">
  <div class="page-header">
    <img class="path" src="assets/img/blob.png" />

    <img class="path2" src="assets/img/path2.png" />

    <img class="shapes triangle" src="assets/img/triunghiuri.png" />

    <img class="shapes wave" src="assets/img/waves.png" />

    <img class="shapes squares" src="assets/img/patrat.png" />

    <img class="shapes circle" src="assets/img/cercuri.png" />

    <div class="content-center">
      <div
        class="row row-grid justify-content-between align-items-center text-left"
      >
        <div class="col-lg-6 col-md-6">
          <h1 class="text-white">
            Women <br />

            <span class="text-white"> Empowerment </span>
          </h1>
          <p class="text-white mb-3">
            It is true that men and women live in poverty, face discrimination and face barriers. But throughout
history, in every country in the world, women and girls face additional barriers and discrimination
solely because of their gender.
Fortunately, technology is available to help showcase their problems. Now it’s time to move to a
virtual assistance plan, a plan that protects women from being devalued and discriminated against,
and this is what this project offers among the benefits of online employment, comprehensive
digitization, a forum for discussing women’s problems among themselves and among experts and
providing assistance to all women In the event that there is a need in addition to providing workshops
and charitable events Through this project, we hope to do our utmost to help women around the world
          </p>
          <div class="btn-wrapper mb-3">
            <a
              class="btn btn-success btn-link btn-sm"
              href="javascript:void(0)"
            >
              <i class="tim-icons icon-minimal-right"> </i>
            </a>
          </div>
          <div class="btn-wrapper">
            <div class="button-container">
              <button
                class="btn btn-icon btn-simple btn-round btn-neutral mr-1"
                href="javascript:void(0)"
              >
                <i class="fab fa-twitter"> </i>
              </button>
             
              <button
                class="btn btn-icon btn-simple btn-round btn-neutral"
                href="javascript:void(0)"
              >
                <i class="fab fa-facebook"> </i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg- col-md-5">
          <img
          style="height: 500px;width: 500px;"
            
            
            src="assets/img/1456.png"
          />
        </div>
      </div>
    </div>
  </div>
  <section class="section section-lg">
    <section class="section">

    </section>
  </section>
  <section class="section section-lg">
    <img class="path" src="assets/img/path4.png" />

    <img class="path2" src="assets/img/path5.png" />

    <img class="path3" src="assets/img/path2.png" />

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <h1 class="text-center">Your best benefit</h1>
          <div class="row row-grid justify-content-center">
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-primary">
                  <i class="tim-icons icon-money-coins"> </i>
                </div>
                <h4 class="info-title">Job Offers</h4>
                <hr class="line-primary" />

                <p>
                  invitation for a potential employee to work in a specific position for an employer. Job offers typically contain the details of the employment offer, including salary, benefits, job responsibilities
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-warning">
                  <i class="tim-icons icon-chart-pie-36"> </i>
                </div>
                <h4 class="info-title">Trainings</h4>
                <hr class="line-warning" />

                <p>
                  teaching, or developing , any skills and knowledge or fitness that relate to specific useful competencies. Training has specific goals of improving one's capability, capacity, productivity and performance
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-success">
                  <i class="tim-icons icon-single-02"> </i>
                </div>
                <h4 class="info-title">Meeting People</h4>
                <hr class="line-success" />

                <p>
                  gathering of two or more people that has been convened for the purpose of achieving a common goal
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg section-safe">
    <img class="path" src="assets/img/path5.png" />

    <div class="container">
      <div class="row row-grid justify-content-between">
        <div class="col-md-5">
          <img class="img-fluid floating" src="assets/img/aa.jpg" />

          <div class="card card-stats bg-danger">
            <div class="card-body">
              <div class="justify-content-center">
                <div class="numbers">
                  <p class="card-title">100%</p>
                  <p class="card-category text-white">Safe</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-stats bg-info">
            <div class="card-body">
              <div class="justify-content-center">
                <div class="numbers">
                  <p class="card-title">573 K</p>
                  <p class="card-category text-white">Satisfied customers</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-stats bg-default">
            <div class="card-body">
              <div class="justify-content-center">
                <div class="numbers">
                  <p class="card-title">10 425</p>
                  <p class="card-category text-white">Job Offers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="px-md-5">
            <hr class="line-success" />

            <h3>Awesome features</h3>
            <p>
              Maintainability:<br>
- The code must be extensible and maintainable to facilitate any improvement or optimization.
Security:<br>
- You must have an authentication interface and control access to the various features.
Performance and efficiency:<br>
- response time : application loading, screen opening and refresh times<br>
- Processing time : functions, calculations,data imports/exports<br>
Reliability :<br>
- In a perfect world, a reliable piece of software is completely defect free, does not create downtime, and
performs correctly in every scenario.<br>
Scalability :<br>
- the ability to handle a growing number of customers, clients, or users. Application scalability guarantees that, in time, theapp will be capable of efficiently sustaining a high growth of its user base.<br>
Responsive :<br>
- Responsive Web design is a web design approach that aims to develop sites that provide an optimal
reading and browsing experience for the user regardless of their range of devices (mobile phones, tablets,
e-readers, desktop monitors)
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  
</div>
