<div class="wrapper">
  <div class="page-header">
          <div class="content">

<table class="table">
  <thead>
      <tr>
          <th (click)="Sort('Title')">Title&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="Sort('domain')">Domain&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="Sort('place')">Place&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="Sort('description')">description&nbsp;<i class="fa fa-sort"></i></th>
          
          <th class="text-left">Actions</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor ="let offer of offers | orderBy: key: reverse | paginate: {itemsPerPage:7,currentPage:p};">
          
          <td>{{offer.title}}</td>
          <td>{{offer.domain}}</td>
          <td>{{offer.place}}</td>
          <td>{{offer.description}}</td>
          <td class="td-actions">
            <button style="margin-right: 5%;" type="button" rel="tooltip" class="btn btn-info btn-sm btn-round btn-icon">
                <i class="tim-icons icon-single-02"></i>
            </button>
            
            
            
                <button style="margin-right: 5%;" type="button" id="modals"
                 rel="tooltip" class="btn btn-success btn-sm btn-round btn-icon"
                 data-target="#myModal"(click)="myModal.show()">
                <i class="tim-icons icon-settings-gear-63"></i>
                </button>   
           


            <button (click)="deleteOffer(offer.id)" type="button" rel="tooltip" class="btn btn-danger btn-sm btn-round btn-icon">
                <i class="tim-icons icon-simple-remove"></i>
            </button>
          </td>
      </tr>
  </tbody>
      <pagination-controls  style="position: absolute; padding-left: 20%;"
      (pageChange) ="p = $event"
      >
      </pagination-controls>
</table>
          </div>
  </div>
</div>


<div class="container">
  
  <div class="row">
  <div class="col-sm-6">
  <div class="card" style="width: 60rem;">
       <!--img src="..." class="card-img-top" alt="..."-->
       <div class="card-body">
       <div class="card-header">
        <form [formGroup]="jobofferForm" (click)="onSubmit()"> 
  <h1> Job Offer Form</h1>
  <div class="mb-3">
   <label for="exampleFormControlTextarea1" class="form-label">Title</label>
   <input  formControlName="Title" class="form-control" type="text" placeholder="Default input" aria-label="default input example" >
   <div class="invalid-feedback">
    <div >Title Name is required</div>
  </div>
  
  </div>
  
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Domain</label>
    <input formControlName="Domain" class="form-control" type="text" placeholder="Default input" aria-label="default input example" >
    <div  class="invalid-feedback">
     <div >Domain Name is required</div>
   </div>
  </div>
  
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Place</label>
    <input formControlName="Place" class="form-control" type="text" placeholder="Default input" aria-label="default input example"  >
    <div  class="invalid-feedback">
     <div >Place Name is required</div>
   </div>
  </div>
  
  <div class="mb-3">
    <label formControlName="description" for="exampleFormControlTextarea1" class="form-label">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" ></textarea>
      <div  class="invalid-feedback">
       <div >Description Name is required</div>
     </div>
  </div>
  
  <br>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button  class="btn btn-primary mr-1" type="submit">Submit</button>
  </div>
  
  </form>

  <div
  aria-hidden="true"
  aria-labelledby="myModalLabel"
  bsModal
  class="modal fade"
  #myModal="bs-modal"
  id="myModal"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button
          aria-hidden="true"
          class="close"
          data-dismiss="modal"
          type="button"
          (click)="myModal.hide()"
        >
          <i class="tim-icons icon-simple-remove"> </i>
        </button>
        <h4 class="title title-up">Upadate Offer</h4>
      </div>
      <div class="modal-body">
        <p>
        RECUPERER LES DATA
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" type="button">Update</button>
        <button
          class="btn btn-danger"
          data-dismiss="modal"
          type="button"
          (click)="myModal.hide()">Cancel</button>
      </div>
    </div>
  </div>
</div>