<h1>Events</h1>

<div class="form-group col-md-6" >
    <input
      class="form-control"
      type="text"
      placeholder="Enter Titre"
      name="titre"
      [(ngModel)] = "titre" 
      (ngModelChange)="Search()"
    />
</div>

<table class="table">
    <thead>
        <tr>
            <th (click)="Sort('Date')">Date Event&nbsp;<i class="fa fa-sort"></i></th>
            <th (click)="Sort('titre')">Titre&nbsp;<i class="fa fa-sort"></i></th>
            <th (click)="Sort('lieux')">Lieux&nbsp;<i class="fa fa-sort"></i></th>
            <th (click)="Sort('affiche')">Poster&nbsp;<i class="fa fa-sort"></i></th>
            <th (click)="Sort('description')">Description&nbsp;<i class="fa fa-sort"></i></th>
            <th class="text-left">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let event of events | orderBy: key: reverse | paginate: {itemsPerPage:2,currentPage:p};">
            
            <td>{{event.Date | date : "yyyy.MM.dd" }}</td>
            <td>{{event.titre}}</td>
            <td>{{event.lieux}}</td>
            <td >{{event.affiche}}</td>
            <td >{{event.description}}</td>
            <td class="td-actions">
              <button style="margin-right: 10%;" type="button" rel="tooltip" class="btn btn-info btn-sm btn-round btn-icon">
                  <i class="tim-icons icon-single-02"></i>
              </button>
              <button style="margin-right: 10%;" type="button" rel="tooltip" class="btn btn-success btn-sm btn-round btn-icon">
                  <i class="tim-icons icon-settings-gear-63"></i>
              </button>
              <button (click)="deleteEvent(event.id)" type="button" rel="tooltip" class="btn btn-danger btn-sm btn-round btn-icon">
                  <i class="tim-icons icon-simple-remove"></i>
              </button>
            </td>
        </tr>
    </tbody>
        <pagination-controls  style="position: absolute; padding-left: 20%;"
        (pageChange) ="p = $event"
        >
        </pagination-controls>
  </table>