<table class="table">
  <thead>
      <tr>
          <th (click)="Sort('email')">Email&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="Sort('firstName')">FirstName&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="Sort('lastName')">LastName&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="Sort('enabled')">Enabled&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="Sort('locked')">Locked&nbsp;<i class="fa fa-sort"></i></th>
          <th >Actions</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor ="let user of users | orderBy: key: reverse | paginate: {itemsPerPage:7,currentPage:p};">
          
          <td>{{user.email}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td >{{user.enabled}}</td>
          <td >{{user.locked}}</td>
          <td class="td-actions">
            <button (click)="deleteUser(user.email)" type="button" rel="tooltip" class="btn btn-danger btn-sm btn-round btn-icon">
                <i class="tim-icons icon-simple-remove"></i>
            </button>
          </td>
      </tr>
  </tbody>
      <pagination-controls  style="position: absolute; padding-left: 20%;"
      (pageChange) ="p = $event"
      >
      </pagination-controls>
</table>