<div style="margin-top: -10%;margin-left:2%;margin-right:2%;" class="wrapper">
    <div class="page-header">
            <div class="content">

<h1> Users List</h1>

<div class="card-body">
                
    <form style="margin-top: 2%;" class="form">
        <h4 style="position: absolute;"> Search : </h4><br><br>
        <div 
        class="input-group col-md-3"
        [ngClass]="{ 'input-group-focus': focus1 === true }"
        >
        
            <div class="input-group-prepend">
            <div class="input-group-text">
                <i class="tim-icons icon-email-85"> </i>
            </div>
            </div>
            
            <input
            class="form-control"
            placeholder="Enter FirstName "
            type="text"
            (focus)="focus1 = true"
            (blur)="focus1 = false"
            name="firstName"
            [(ngModel)] = "firstName" 
            (ngModelChange)="Search()"
            />
        </div>
    </form>
</div>



<table style="margin-top: 4%;" class="table">
    <thead>
        <tr>
            <th (click)="Sort('email')">Email&nbsp;<i class="fa fa-sort"></i></th>
            <th (click)="Sort('firstName')">FirstName&nbsp;<i class="fa fa-sort"></i></th>
            <th (click)="Sort('lastName')">LastName&nbsp;<i class="fa fa-sort"></i></th>
            <th (click)="Sort('enabled')">Enabled&nbsp;<i class="fa fa-sort"></i></th>
            <th (click)="Sort('locked')">Locked&nbsp;<i class="fa fa-sort"></i></th>
            <th >Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let user of users | orderBy: key: reverse | paginate: {itemsPerPage:10,currentPage:p};">
            
            <td>{{user.email}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td >{{user.enabled}}</td>
            <td >{{user.locked}}</td>
            <td class="td-actions">
              <button (click)="onCreate(user)"  style="margin-right: 5%;" type="button" rel="tooltip" class="btn btn-success btn-sm btn-round btn-icon">
                  <i class="tim-icons icon-settings-gear-63"></i>
              </button>
              <button (click)="deleteUser(user.email)" type="button" rel="tooltip" class="btn btn-danger btn-sm btn-round btn-icon">
                  <i class="tim-icons icon-simple-remove"></i>
              </button>
            </td>
        </tr>
    </tbody>
        <pagination-controls  style="position: absolute;padding-left: 20%;"
        (pageChange) ="p = $event"
        >
        </pagination-controls>
</table>
            </div>
    </div>
</div>