.example-container {
    display: flex;
    padding: 10px;
  }
  
  .drawer-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
  }
  
  .left-drawer {
    width: 200px;
  }
  
  .users-pane {
    height: 500px;
  }
  
  .users-card {
    margin: 5px 20px;
  }
  
  .username {
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
  }
  
  .sticky-footer {
    bottom:1px;
    left: 0;
   

    border: 40% transparent ;    position:sticky;

    width: 100%;
    padding: 10px;
    border-top: solid 1px #efefef;
  }
  
  .message-form {
    margin-left: 200px;
  }
  
  .message-form-field {
    width: 94%;
    margin: 0 4% 0 2%;
  }
  
  .message-box {
    float: left;
    width: 98%;
    margin: 5px 0 0 2%;
  }
  
  .chat-message {
    width: 80%;
    min-height: 40px;
  }
  
  .chat-message .right-bubble {
    position: relative;
    background: #f56d9b;
    border-top-left-radius: .4em;
    border-bottom-left-radius: .4em;
    border-bottom-right-radius: .4em;
    padding: 5px 10px 10px;
    left: 15%;
  }
  
  .chat-message .right-bubble span.msg-name {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
  .chat-message .right-bubble span.msg-date {
    font-size: 10px;
  }
  
  .chat-message .right-bubble:after {
    content: '';
    position: absolute;
    right: 0;
    top: 13px;
    width: 0;
    height: 0;
 
    border-left-color: #050704;
    border-right: 0;
    border-top: 0;
    margin-top: -13.5px;
    margin-right: -27px;
  }
  .chat-message .left-bubble {
    position: relative;
    background: rgb(119, 193, 218);
    border-top-right-radius: .4em;
    border-bottom-left-radius: .4em;
    border-bottom-right-radius: .4em;
    padding: 5px 10px 10px;
    left: 5%;
  }
  .chat-message .left-bubble span.msg-name {
    font-size: 20px;
    font-weight: bold;
    color: rgb(7, 7, 7);
  }
  .chat-message .left-bubble span.msg-date {
    font-size: 10px;
  }
  .chat-message .left-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    size: 20px;
    top: 13px;
    width: 0;
    height: 0;
    border: 27px solid transparent;
    border-right-color: lightblue;
    border-left: 0;
    border-top: 0;
    margin-top: -13.5px;
    margin-left: -27px;
  }
  
  .chat-message .chat-status {
    min-height: 49px;
    size: 15px;
    
  }
  
  .chat-message .chat-status .chat-date {
    display: block;
    size: 20px;
    font-size: 15px;
    font-style: italic;
    color: rgb(0, 0, 0);
    text-shadow: 0px -1px 0px #222, 0px 1px 0px rgb(0, 0, 0);
    height: 15px;
    left: 10%;
    right:10%;
  }
  
  .chat-message .chat-status {
    padding: 5px 10px;
    background-color: #6666e6;
    border-radius: 6px;
    size: 20px;
    font-size: 12px;
    color: rgb(0, 0, 0);
    height: 34px;
    left: 10%;
    right:10%;
  }
  .chat-content-center{
    color: #050704;
    size: 15px;
    border-radius: 15px;
    size: 20px;
    font-size: 15px;
  }
  
  .chat-content {
    overflow-y: scroll;
    height: 600px;
    size: 20px;
    color: rgb(0, 0, 0);

  }
  .inner-main-footer{
    padding: 5px 10px;
    color: #555;
    height: 34px;
    right:10%;
  }