<div style="margin-left:2%;margin-right:2%;" class="wrapper">

  <div style="margin-top: 10%;" class="grid-container">
    <canvas id="lineChartExample1"></canvas>
  </div>

    <div class="page-header">
        <div class="content">
            <h1> Fake accounts </h1>

            <table  class="table">
                <thead>
                    <tr>
                        <th class="text-left" (click)="Sort('user.email')">Email&nbsp;<i class="fa fa-sort"></i></th>
                        <th class="text-left" (click)="Sort('adre')">Address&nbsp;<i class="fa fa-sort"></i></th>
                        <th class="text-left" (click)="Sort('age')">Age&nbsp;<i class="fa fa-sort"></i></th>
                        <th class="text-left" (click)="Sort('fistlastname')">Full Name&nbsp;<i class="fa fa-sort"></i></th>
                        <th class="text-left" (click)="Sort('reported')">Reported&nbsp;<i class="fa fa-sort"></i></th>
                        <th class="text-left" (click)="Sort('pub')">Publications&nbsp;<i class="fa fa-sort"></i></th>
                        <th class="text-left" (click)="Sort('tokensus')">Token&nbsp;<i class="fa fa-sort"></i></th>
                        <th class="text-left" (click)="Sort('percentage')">Percentage&nbsp;<i class="fa fa-sort"></i></th>
                    
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor ="let fake of fakeaccount | orderBy: key: reverse | paginate: {itemsPerPage:10,currentPage:p};">
                        
                        <td class="text-left">{{fake.user.email}}</td>
                        <td [style.color]="fake.adre?'black':null" class="text-left">{{fake.adre}}({{fake.user.adress}})</td>
                        <td class="text-left">{{fake.age}}({{fake.user.age}})</td>
                        <td class="text-left">{{fake.fistlastname}}({{fake.user.firstName}}&nbsp;{{fake.user.lastName}})</td>
                        <td class="text-left">{{fake.reported}}</td>
                        <td class="text-left">{{fake.pub}}</td>
                        <td class="text-left">{{fake.tokensus}}</td>
                        <td class="text-left">{{fake.percentage}}</td>
                       
                    </tr>
                </tbody>
                    <pagination-controls  style="position: absolute;"
                    (pageChange) ="p = $event"
                    >
                    </pagination-controls>
            </table>
        </div>

    </div>
</div>

