<div class="wrapper">
    <div class="page-header">
            <div class="content">
                <tr *ngFor="let p of trainingsD"></tr>
                <h3>our trainings </h3>

<h1>{{idFormation}}</h1>
<h1>hi</h1>

<div>
    <div>
        <label>
            <b>
                <!-- {{Training.title}} -->
            </b>
        </label>
    </div>
    <div>
        <label>
            <b>
               <!-- {{Training.description}} -->
            </b>
        </label>
    </div>
</div>

</div>
</div>
</div>

