<div class="wrapper">
    <div class="page-header">
            <div class="content">
                <tr>
                <h3>our trainings </h3>

<h1>{{idFormation}}</h1>
<!-- <qrcode [qrdata]="'http://localhost:4200/#/trainings'" [size]="256" [level]="'M'"></qrcode> -->



<div>
    <div>
        <label>
            <b>
               {{training.affiche}}
            </b>
        </label>
    </div>
    <div>
        <label>
            <b>
                {{training.title}}
            </b>
        </label>
    </div>
    <div>
        <label>
            <b>
               {{training.description}}
            </b>
        </label>
    </div>

   
</div>
                </tr>

</div>
</div>
</div>

