<div class="wrapper">
    <div class="page-header">
        <div class="content">
            <tr>
                <h1>{{training.title}} </h1>

                <div>
                    <div>
                        <label>
                            <b>
                                <!-- {{training.affiche}} -->
                                <img src="{{training.affiche}}" width="300" height="300">
                            </b>
                        </label>
                    </div>
                    <div>
                        <label>
                            <b>
                                {{training.description}}
                            </b>
                        </label>
                    </div>


                </div>
            </tr>

        </div>
    </div>
</div>