.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}


.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 20%;height: 20%; }



.counter { background-color: #ffffff;  padding: 5%;border-radius: 5px;}

.mat-divider {
  border-top-color: #fe5d93;
  
}


