


                <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                  <div class="simplebar-content" style="padding: 16px;">
                    <nav class="nav nav-pills nav-gap-y-1 flex-column">
                <div class="row mt-5" >
                 
                  <div *ngFor="let commentaire of commentaires">
                    <div class="col-md-3">
                      <div class="card" style="width: 18rem;">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{commentaire.comment}}</h5>
                          <p class="card-text">{{commentaire.description}}</p>
                          <p class="card-text">{{commentaire.CreatAt}}</p>
                          <p Class="card-text">{{commentaire.commented_by}}</p>
                          <p Class="card-text">{{commentaire.publications}}</p>
                          <a href="#" class="btn btn-primary">voir plus d'informations</a>
                          <td class="td-actions">
                            
                                <td><a class="btn btn-danger" (click)="supprimerComm(commentaire.id)">Supprimer</a></td>
                        
                            <td class="like-wrapper">
                                <button id="like-button" (click)="OnLike(commentaire.id)" type="button" class="button ">
                                    like
                                </button>
                          </td>

                          
                        
                      </div>
                    </div>
                  </div>
                </div>
                
                </div>
                    </nav>
                  </div>
                </div>
   