
<style>
  .center {
  display: flex;
  justify-content: center;
}
  #example {
    height: 650px;
    overflow: auto;
    overflow-x: hidden;
  }
  .lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image"></div>
    <div style="padding-top: 5%;">
      <div style="padding-left: 5%;">
        <div class="row">
          <div class="col-lg-7 col-md-6 offset-lg-0 offset-md-3">
            <div class="square square-7" id="square7"></div>
            <div class="square square-8" id="square8"></div>
            <div class="card card-register">
              <div class="card-header">
                <img
                  alt="Card image"
                  class="card-img"
                  src="assets/img/square1-red.png"
                />

                <h4 class="card-title">Register</h4>
              <div class="card-body">
                <form id="example"    class="form" [formGroup]="form" (submit)="submit()">
                  <div class="form-row">
                    <div class="form-group col-md-6" [hidden]="!isFirstNameShown" [ngClass]="{ 'input-group-focus': focus === true }">
                      
                      <label>FirstName</label>
                      <input
                        class="form-control"
                        formControlName="firstName"
                        placeholder="FirstName"
                        type="text"
                        (focus)="focus = true"
                        (blur)="focus = false"
                      />
                    </div>
                    
                    <div class="form-group col-md-6" [hidden]="!isLastNameShown" [ngClass]="{ 'input-group-focus': focus1 === true }">
                      <label>LastName</label>
                      <input
                        class="form-control"
                        formControlName="lastName"
                        placeholder="LastName"
                        type="text"
                        (focus)="focus1 = true"
                        (blur)="focus1 = false"
                      />
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <small style="color: #fd5d93;"  [hidden]="!isFirstNameShown" *ngIf="form.get('firstName').invalid && form.get('firstName').touched" [type]="'danger'">
                        Invalid FirstName
                      </small>
                    </div>
                    <div class="form-group col-md-6">
                      <small style="color: #fd5d93;"  [hidden]="!isLastNameShown" *ngIf="form.get('lastName').invalid && form.get('lastName').touched" [type]="'danger'">
                        Invalid LastName
                      </small>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-12" [ngClass]="{ 'input-group-focus': focus2 === true }">
                      
                      <label>Email</label>
                      <input
                        class="form-control"
                        formControlName="email"
                        placeholder="Email"
                        type="email"
                        (focus)="focus2 = true"
                        (blur)="focus2 = false"
                      />
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <small  style="color: #fd5d93;" *ngIf="form.get('email').invalid && form.get('email').touched" [type]="'danger'">
                        Please enter a valid email
                      </small>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6" [ngClass]="{ 'input-group-focus': focus3 === true }">
                      <label>Password</label>
                      <input
                        class="form-control"
                        formControlName="password"
                        placeholder="Password"
                        type="password"
                        (focus)="focus3 = true"
                        (blur)="focus3 = false"
                      />
                    </div>

                    <div class="form-group col-md-6"  [ngClass]="{ 'input-group-focus': focus4 === true }">
                      <label>Confirm Password</label>
                      <input
                        class="form-control"
                        formControlName="confirmpassword"
                        placeholder="Confirm Password"
                        type="password"
                        (focus)="focus4 = true"
                        (blur)="focus4 = false"
                      />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <small  *ngIf="form.get('password').invalid && form.get('password').touched" style="color: #fd5d93;" >
                        Please enter a valid Password
                      </small>
                    </div>

                    <div class="form-group col-md-6">
                      <small  *ngIf="form.get('confirmpassword').value != form.get('password').value " style="color: #fd5d93;" >
                        Passwords does not match
                      </small>
                    </div>
                  </div>
                  

                  <div class="form-row">
                    <div class="form-group col-md-6" [ngClass]="{ 'input-group-focus': focus5 === true }">
                      <label>Adress</label>
                      <input
                        class="form-control"
                        formControlName="adress"
                        placeholder="Adress"
                        type="text"
                        (focus)="focus5 = true"
                        (blur)="focus5 = false"
                      />
                    </div>
                    <div class="form-group col-md-6" [ngClass]="{ 'input-group-focus': focus7 === true }">
                      <label>Phone Number</label>
                      <input
                        class="form-control"
                        formControlName="numTel"
                        placeholder="Phone Number"
                        type="number"
                        (focus)="focus7 = true"
                        (blur)="focus7 = false"
                      />
                    </div>
                    
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <small style="color: #fd5d93;"  *ngIf="form.get('adress').invalid && form.get('adress').touched" [type]="'danger'">
                        Please enter a valid Adress
                      </small>
                    </div>
                    <div class="form-group col-md-6">
                      <small style="color: #fd5d93;" *ngIf="form.get('numTel').invalid && form.get('numTel').touched" [type]="'danger'">
                        Please enter a valid Phone Number
                      </small>
                    </div>
                  </div>

                  <div class="input-group" [hidden]="!companyName" [ngClass]="{ 'input-group-focus': focus6 === true }">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-bank"> </i>
                      </div>
                    </div>
                    <input
                      class="form-control"
                      formControlName="companyName"
                      placeholder="Company Name"
                      type="text"
                      (focus)="focus6 = true"
                      (blur)="focus6 = false"
                    />
                  </div>
                  <small  style="color: #fd5d93;" [hidden]="!companyName" *ngIf="form.get('companyName').invalid && form.get('companyName').touched" [type]="'danger'">
                    Please enter a valid Company Name
                  </small>

                  <div class="input-group" [hidden]="!associationName" [ngClass]="{ 'input-group-focus': focus8 === true }">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-bank"> </i>
                      </div>
                    </div>
                    <input
                      class="form-control"
                      formControlName="associationName"
                      placeholder="Association Name"
                      type="text"
                      (focus)="focus8 = true"
                      (blur)="focus8 = false"
                    />
                  </div>
                  <small style="color: #fd5d93;" [hidden]="!associationName" *ngIf="form.get('associationName').invalid && form.get('associationName').touched" [type]="'danger'">
                    Please enter a valid Association Name
                  </small>

                  <div class="form-row">
                    <div class="form-group col-md-6" [hidden]="!cin" [ngClass]="{ 'input-group-focus': focus9 === true }">
                      <label>CIN</label>
                      <input
                        class="form-control"
                        formControlName="cin"
                        placeholder="CIN"
                        type="number"
                        (focus)="focus9 = true"
                        (blur)="focus9 = false"
                      />
                      
                    </div>
                    
                    <div class="form-group col-md-6" [hidden]="!Age" [ngClass]="{ 'input-group-focus': focus10 === true }">
                      <label>Age</label>
                      <input
                        class="form-control"
                        formControlName="age"
                        placeholder="Age"
                        type="number"
                        (focus)="focus10 = true"
                        (blur)="focus10 = false"
                      />
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <small [hidden]="!cin" *ngIf="form.get('cin').invalid && form.get('cin').touched" style="color: #fd5d93;" >
                        Please enter a valid CIN
                      </small>
                    </div>

                    <div class="form-group col-md-6">
                      <small [hidden]="!Age" *ngIf="form.get('age').invalid && form.get('age').touched" style="color: #fd5d93;" >
                        Please enter a valid Age
                      </small>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6" [hidden]="!profession" [ngClass]="{ 'input-group-focus': focus11 === true }">
                      <label>Profession</label>
                      <input
                        class="form-control"
                        formControlName="profession"
                        placeholder="Profession"
                        type="text"
                        (focus)="focus11 = true"
                        (blur)="focus11 = false"
                      />
                    </div>

                    <div class="form-group col-md-6" [hidden]="!niveauetude" [ngClass]="{ 'input-group-focus': focus12 === true }">
                      <label>Level of study</label>
                      <input
                        class="form-control"
                        formControlName="niveauetude"
                        placeholder="Level of study"
                        type="text"
                        (focus)="focus12 = true"
                        (blur)="focus12 = false"
                      />
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <small [hidden]="!profession" *ngIf="form.get('profession').invalid && form.get('profession').touched" style="color: #fd5d93;" >
                        Please enter a valid Profession
                      </small>
                    </div>

                    <div class="form-group col-md-6">
                      <small [hidden]="!niveauetude" *ngIf="form.get('niveauetude').invalid && form.get('niveauetude').touched" style="color: #fd5d93;" >
                        Please enter a valid Level of study
                      </small>
                    </div>
                  </div>

                  <div class="input-group"  [ngClass]="{ 'input-group-focus': focus13 === true }">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-single-copy-04"> </i>
                      </div>
                    </div>
                    <textarea 
                      class="form-control"
                      formControlName="description"
                      placeholder="Description"
                      type="text"
                      (focus)="focus13 = true"
                      (blur)="focus13 = false"
                    ></textarea>
                  </div>
                  <small style="color: #fd5d93;" *ngIf="form.get('description').invalid && form.get('description').touched" [type]="'danger'">
                    Please enter a valid Description
                  </small>

                  <div class="form-group">
                    <label for="appUserRole">Role</label>
                    <select  (change)="somethingChanged()" formControlName="appUserRole" name="appUserRole" class="form-control" id="appUserRole">
                      <option style="background-color: indigo" value="ADMIN" >ADMIN</option>
                      <option style="background-color: indigo" value="USER" [selected]="true">USER</option>
                      <option style="background-color: indigo" value="TRAINER">TRAINER</option>
                      <option style="background-color: indigo" value="COMPANY">COMPANY</option>
                      <option style="background-color: indigo" value="ASSOCIATION" >ASSOCIATION</option>
                      <option style="background-color: indigo" value="MEDCIN">MEDCIN</option>
                      <option style="background-color: indigo" value="LAWYER">LAWYER</option>
                      <option style="background-color: indigo" value="PSY">PSY</option>
                    </select>
                  </div>

                  <div class="form-check text-left">
                    <label class="form-check-label">
                      <input [checked]="checkbox1" (change)="checkbox1 = !checkbox1" class="form-check-input" type="checkbox" />
                      <span class="form-check-sign"> </span> I agree to the
                      <a href="javascript:void(0)"> terms and conditions </a> .
                    </label>
                  </div>
                  
                  <div [hidden]="!loading" class="center">
                    <span style="color: #fd5d93;" class="visually-hidden">Loading...<br></span>
                  </div>

                  <div [hidden]="!loading" class="center">
                    <div class="lds-dual-ring"></div>
                  </div>
                  
                  <button  [disabled]="!checkbox1" class="w-100 btn btn-lg btn-primary"  type="submit">Register</button>
                  
                  <alert [hidden]="!error" [type]="'danger'">
                    Something went wrong! please try again
                  </alert>
                </form>
              </div>
              
            </div>
          </div>
        </div>
        <div class="register-bg"></div>
        <div class="square square-1" id="square1"></div>
        <div class="square square-2" id="square2"></div>
        <div class="square square-3" id="square3"></div>
        <div class="square square-4" id="square4"></div>
        <div class="square square-5" id="square5"></div>
        <div class="square square-6" id="square6"></div>
      </div>
    </div>
  </div>
</div>

