<style>
*,*:before,*:after {box-sizing:inherit;margin:0; padding:0; border:0 none; position: relative;}
html {
	background: #000;
	box-sizing:border-box;
	font-family: 'Vollkorn', sans-serif;
	font-size: 1rem;
	color: #000;
}

@media screen and (min-width: 700px) {
	body > article {
		display: flex;
		flex-wrap: wrap;
	}
	figure {
		background: #eee;
		width: calc( 50% + 1px);
		height: 100vh;
		margin: 0 auto 10vh 0;
		position: sticky;
		top: 0;
		overflow: hidden;
		box-shadow: 4px -4px 8px rgba(0,0,0,.4);
			}
	figure::after {
		content: '';
		position: absolute;
		top: 5vmin;
		right: 5vmin;
		bottom: 5vmin;
		left: 45%;
		border: 2px dashed #fff;
		outline: 1px solid #fff;
		outline-offset: -5vmin;
		backdrop-filter: grayscale(1);
		pointer-events: none;
			}
	figure:nth-of-type(2n)::after {
		right: 45%;
		left: 5vmin;
	}
	section {
		background: #e5e5e5;
		width: calc(50% + 1px);
		height: 100vh;
		margin: 0 0 10vh auto;
		position: sticky;
		top: 0;
		 overflow: hidden;
		padding: 5vmin;
		box-shadow: -4px -4px 8px rgba(0,0,0,.4);
			}
	figure:nth-of-type(1),
	section:nth-of-type(1) {
		margin: 0 0 10vh 0;
		width: 50%;
			}
	figure:nth-of-type(2n) {
		margin: 0 0 10vh auto;
		box-shadow: -4px -4px 8px rgba(0,0,0,.4);
			}
	section:nth-of-type(2n) {
		margin: 0 auto 10vh 0;
		box-shadow: 4px -4px 8px rgba(0,0,0,.4);
		}
	figure:last-of-type,
	section:last-of-type {
		margin-bottom: 0;
	}
	section::before {
		background: inherit;
		z-index: 1;
		content: '';
		position: absolute;
		top: 50%;
		left:0;
		width: 7vmin;
		height: 7vmin;
		transform: translate(calc(-50% + 1px), -50%) rotate(-45deg);
		clip-path: polygon(-15% -15%, 110% 0%, 0% 110%);
		box-shadow: -4px -2px 8px rgba(0,0,0,.4);
		border-radius: 1.5vmin 0 0 0;
	}
	section:nth-of-type(2n)::before {
		left:auto;
		right: 0;
		transform: translate(calc(50% - 1px), -50%) rotate(-45deg) scale(-1);
	}
	section::after {
		content: '';
		position: absolute;
		top: 5vmin;
		right: 45%;
		bottom: 5vmin;
		left: 5vmin;
		border: 2px dashed #fff;
		outline: 1px solid #fff;
		outline-offset: -5vmin;
		backdrop-filter: invert(1);
		pointer-events: none;
	}
	section:nth-of-type(2n):after {
		right: 5vmin;
		left: 45%;
	}
	figure img {
		min-width: 100%;
		min-height: 100%;
		object-fit: cover;
		object-position: center;
	}
	section > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		padding: 1rem;
	}
	h1,
	h2 {
    color:#999;
		margin: 15% 0 auto;
		font-size: calc(5vmin + 3vmax);
		text-align: center;
		font-weight: 700;
		line-height: 1;
		word-spacing: .5rem;
	}
	p {
		text-align: right;
		width: 100%;
		font-family: "Cormorant", serif;
		font-weight: 400;
		font-style: italic;
		font-size: calc(1.5vmin + 1.75vmax);
		margin-bottom: 5%;
	}
	a {
		color: transparent;
		-webkit-text-stroke: 2px #212121;
		text-decoration: none;
    font-weight: 900;
    letter-spacing: 2px;
	}
	a:hover, a:focus {	
		-webkit-text-stroke: 1px #999;
	}
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");





@mixin horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

@mixin vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}





@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
   0% {
    top: -300px;
  }
  100% {
    top: 0;
  }
}

@keyframes scaleDown {
    0% {
    transform: scale(1);
  }
   10% {
    transform: scale(0.7);
  }
   95% {
    transform: scale(0.7);
  }
   100% {
    transform: scale(1);
  }
}

@keyframes reveal-info {
  0% {
    height: 0;
  }
  5% {
    height: 350px;
  }
  95% {
    height: 350px;
  }
  100% {
    height: 0;
  }
}



body {
  margin: 0;
  padding: 0;
}


.container {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 700px;
  background-color:#D7CCC8 ;
  font-size: 14px;
  font-family: "Montserrat", sans;}
  .container-inner { 
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   position: relative;
   animation: fade-in 1.5s ease, slide-in 1.2s ease;
   -webkit-animation: fade-in 1.5s ease, slide-in 1.2s ease;}
    .main-content {
      flex-basis: 50%;
      order: 1;
      align-self: center;
      display: flex;
      flex-direction: column;}
      .main-headings { 
        width: 100%;
        align-self: center;
        display: flex;
        flex-direction: column;
        animation: scaleDown 6s ease 2s;
       -webkit-animation: scaleDown 6s ease 2s;}
        #by-line {
          width: 60%;
          padding-bottom: 1px;     
          padding-left: 3px;
          margin-left: 15px;
          font-size: 85%;
          border-bottom: 1px solid #757575;             
          font-style: italic;
        }
        .heading {
           align-self: flex-end;
           margin-top: 20px;
           margin-left: 80px;}
          #heading1, #heading2, #heading3 {
            margin: 0;
            margin-top: -20px;
          }
          #heading1, #heading2 {
            font-size: 500%;
            font-weight:normal;
            letter-spacing: -2px;
          }
          #heading1 {
            margin-left: 50px;
            }
          #heading2 {
            margin-left: 150px;
          }
          #heading3 {
            margin-top: -52px;
            font-size: 1100%;
            font-weight: 800;
            letter-spacing: 2px;
            }
        
        .short-bio {
          width: 60%;
          margin-top: -30px;
          margin-left: 90px;
          font-style: italic;
          font-size: 105%;
        }
        a {
          width: 72%;
          margin-left: 92px;
          margin-right: auto;
          align-self: flex-start;
          font-weight: bold;
          font-size: 120%;
          font-family: helvetica;
          text-decoration: none;
          color: black;}
          .hover {
            text-decoration: underline;
          }
        
      
       .more-info {
          margin-top: -70px;
          width: 50%;
          height: 0;
          margin-left: auto;
          margin-right: auto; 
          align-self: flex-start;
          overflow: hidden;
          animation: reveal-info 4s ease 3s;
         -webkit-animation: reveal-info 4s ease 3s;
       }
    
    .image-wrapper {
      flex-basis: 50%; 
      order: 2;}
      
      .image-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        animation: scaleDown 6s ease 2s ;
       -webkit-animation: scaleDown 6s ease 2s;}
        img {
          width: 100%;
          height: auto;
          position: relative;
         }









</style>
<div class="wrapper">
  
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <br><br><br><br><br><br>
    <div class="container">
      <div class="container-inner">
        <div class="main-content">
          <div class="main-headings" id="main-headings-js">
          
    
          <div class="heading">
            <h1 id="heading3">Women</h1>
          </div>
          </div>

          <br><br><br><br><br><br>
          <div class="more-info " id="more-info-js">
            
        
            <p style="color:#757575">It is true that men and women live in poverty, face discrimination and face barriers. But throughout
history, in every country in the world, women and girls face additional barriers and discrimination
solely because of their gender.
Fortunately, technology is available to help showcase their problems. Now it’s time to move to a
virtual assistance plan, a plan that protects women from being devalued and discriminated against,
and this is what this project offers among the benefits of online employment, comprehensive
digitization</p>
          </div>
          
        </div>
    
        <div class="image-wrapper">
        <div class="image-container">
          <img class="image" src="assets/img/wecandoit.jpg" alt="image of a young woman.">
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="main">
    <article>
	<figure>
		<img src="assets/img/tr.jpg" alt />
	</figure>
	<section>
			<div>
				<h1>Training management</h1>

			</div>
	</section>
	
	<figure>
		<img src='assets/img/off.jpg' alt />
	</figure>
	<section>
		<div>
			<h2>Job management<br/>
			</h2>
		</div>
	</section>
	
	<figure>
		<img src='assets/img/of.jpg' alt />
	</figure>
	<section>
		<div>
			<h2>Charity event management</h2>
		
		</div>
	</section>
	
	<figure>
		<img src='assets/img/ev.jpg' alt />
	</figure>
	<section>
		<div>
			<h2>Complaints management</h2>
		</div>
	</section>
	
	<figure>
		<img src='assets/img/com.png' alt />
	</figure>
	<section>
		<div>
			<h2>Appointments booking</h2>
		</div>
	</section>
	
	
	
</article>
    
  </div>
</div>
