<div style= "height: 700px; white-space: nowrap; overflow-y: scroll;"  class="container justify-content-center mt-5 border-left border-right">
    <div *ngFor="let commentaire of commentaires" class="d-flex justify-content-center py-2">
        <div class="second py-2 px-2"> <span class="text1">{{commentaire.comment}}</span>
            <div class="second py-2 px-2"> <span class="text1">{{commentaire.description}}</span>
            <div class="d-flex justify-content-between py-1 pt-2">
                <div><img src="https://i.imgur.com/AgAC1Is.jpg" width="18"><span class="text2">{{commentaire.commented_By}}</span></div>
                <div><span class="text3">{{commentaire.createdAt| date}}</span></div>
            </div>
            <td class="td-actions">
                            
                <td><a class="btn btn-danger" (click)="supprimerComm(commentaire.id)">Supprimer</a></td>
        
            <td class="like-wrapper">
                <button id="like-button" (click)="OnLike(commentaire.id)" type="button" class="button ">
                    like
                </button>
          </td>
          <div class="text-muted small text-center align-self-center">
            <span class="d-none d-sm-inline-block"><i class="far fa-eye"></i> 19</span>
            <span><i class="far fa-comment ml-2"></i> &hearts;{{commentaire.likesss}}</span>
            <h1 class="text-primary">
                </h1>
        </div>
    </div>
</div>