<!--************affichage BackOffice***************-->
<div class="wrapper">
  <div class="page-header">
          <div class="content">

<table class="table">
  <thead>
      <tr>
          <th (click)="Sort('Title')">Title&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="Sort('domain')">Domain&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="Sort('place')">Place&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="Sort('description')">description&nbsp;<i class="fa fa-sort"></i></th>
          
          <th class="text-left">Actions</th>
          <th class="text-left">
          <button mat-button color="accent"type="submit"class="btn btn-sm btn-success"
                  [routerLink]="['/Addoffer']">Add Offer </button>
          </th>

      </tr>
  </thead>
  <tbody>
      <tr *ngFor ="let offer of offers | orderBy: key: reverse | paginate: {itemsPerPage:7,currentPage:p};">
          
          <td>{{offer.title}}</td>
          <td>{{offer.domain}}</td>
          <td>{{offer.place}}</td>
          <td>{{offer.description}}</td>
          <td class="td-actions">
            <!--button style="margin-right: 5%;" type="button" rel="tooltip" class="btn btn-info btn-sm btn-round btn-icon">
                <i class="tim-icons icon-single-02"></i>
            </button-->
            
            
            
                <button style="margin-right: 5%;" type="button" (click)="openDialog(offer)"
                 rel="tooltip" class="btn btn-success btn-sm btn-round btn-icon"
                 >
                <i class="tim-icons icon-settings-gear-63"></i>
                </button>   
           


            <button (click)="deleteOffer(offer.id)" type="button" rel="tooltip" class="btn btn-danger btn-sm btn-round btn-icon">
                <i class="tim-icons icon-simple-remove"></i>
            </button>
          </td>
      </tr>
  </tbody>
      <pagination-controls  style="position: absolute; padding-left: 20%;"
      (pageChange) ="p = $event"
      >
      </pagination-controls>
</table>
          </div>
  </div>
</div>
<!--************MODAL***********-->
