<div class="modal">
    <div class="modal__container">
      <div class="modal__featured">
        <button (click)="hide()" type="button" class="button--transparent button--close">
          <svg class="nc-icon glyph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
            <g><path fill="#ffffff" d="M1.293,15.293L11,5.586L12.414,7l-8,8H31v2H4.414l8,8L11,26.414l-9.707-9.707 C0.902,16.316,0.902,15.684,1.293,15.293z"></path> </g></svg>
          <span class="visuallyhidden">Return to Product Page</span>
        </button>
        <div class="modal__circle"></div>
        <img src="assets/img/4884170.png" class="modal__product" />
      </div>
      <div class="modal__content">
        <h2>Your payment details</h2>

        <form class="form" [formGroup]="form" (submit)="add()">
          <ul class="form-list">
            <li class="form-list__row">
              <label>Content</label>
              <input formControlName="description" type="text" name="description" required="" />
            </li>
            <li [hidden]="checkbox1" class="form-list__row">
              <label>User Email</label>
              <div  class="form-list__row">
                <select name="email" formControlName="email">
                    <option  *ngFor="let user of users" [value]="user.email">
                      {{user.email}}
                    </option>
                </select>
              </div>
            </li>
            <li class="form-list__row">
                <label>User Email</label>
                <div class="form-check text-left">
                    <label class="form-check-label">
                      <input formControlName="checkbox1" value="checkbox1" [checked]="checkbox1" (change)="checkbox1 = !checkbox1" class="form-check-input" type="checkbox" />
                      <span class="form-check-sign"> </span> Global Notification
                    </label>
                </div>
              </li>


            
            <li>
              <button type="submit" class="btn btn-primary btn-round"> Send</button>
            </li>
          </ul>
        </form>
      </div> 
    </div> 
  </div> 
