<h1>Update the trainings ! </h1>

<form class="form"   (submit)="addTraining()"> 
  
<br><br>
    <div class="form-group" >
        <label>title</label>
        <input  placeholder="title" type="text" name="title" class="form-control"  [(ngModel)]="newTraining.title">

    </div>

    <div class="form-group">    
        <label>description</label>
        <input  placeholder="description" type="text" name="description" class="form-control"  [(ngModel)]="newTraining.description">

    </div>

    <div class="form-group">
        <label>date debut </label>
        
        <input  placeholder="dateDebut" type="date" name="dateDebut" class="form-control"  [ngModel]="newTraining.dateDebut | date: 'yyyy-MM-dd'"
        (ngModelChange)="newTraining.dateDebut=$event">

    </div>

    <div class="form-group">
        <label>date fin </label>
        <input  placeholder="dateFin" type="date" name="dateFin" class="form-control" [ngModel]="newTraining.dateFin | date: 'yyyy-MM-dd'"
        (ngModelChange)="newTraining.dateFin = $event">

    </div>

    <div class="form-group">
        <label>nbr max </label>
        <input  placeholder="nbrMaxApprenant"  type="number" name="nbrMaxApprenant" class="form-control"  [(ngModel)]="newTraining.nbrMaxApprenant">

    </div>

    <div class="button-wrap mt-3">
        <label class="new-button" for="upload">upload image</label>
        <input
          id="upload"
          (change)="onFileChanged($event)"
         
          #fileInput
          type="file"
        />
        
        </div>

        <button mat-button color="accent"  type="submit"class="btn btn-sm btn-success" (click)="updatetraining()" >Update  Training</button>
        
       
           
   
  
    
</form>


