<!--***************** FORM *******************-->

<div class="container">
  
    <div class="row">
    <div class="col-sm-6">
    <div class="card" style="width: 60rem;">
         <div class="card-body">
         <div class="card-header">
          <form class="jobofferForm" [formGroup]="jobofferForm" novalidate (ngSubmit)="onSubmit()"> 
    <h1> Job Offer Form</h1>
    <div class="mb-3">
     <label for="exampleFormControlTextarea1" class="form-label">Title</label>
     <input  formControlName="title" class="form-control" type="text" placeholder="Default input" aria-label="default input example" >
     <div class="invalid-feedback">
      <div >Title Name is required</div>
    </div>
    
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Domain</label>
      <input formControlName="domain" class="form-control" type="text" placeholder="Default input" aria-label="default input example"  >
      <div  class="invalid-feedback">
       <div >Domain Name is required</div>
     </div>
    </div>
    
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Place</label>
      <input formControlName="place" class="form-control" type="text" placeholder="Default input" aria-label="default input example" >
      <div  class="invalid-feedback">
       <div >Place Name is required</div>
     </div>
    </div>
    
    <div class="mb-3">
      <label  for="exampleFormControlTextarea1" class="form-label">Description</label>
      <textarea formControlName="description" class="form-control" id="exampleFormControlTextarea1" rows="3" ></textarea>
        <div  class="invalid-feedback">
         <div >Description Name is required</div>
       </div>
    </div>
    
    
    <div class="d-grid gap-2 d-md-flex ">
      <button  class="btn btn-primary mr-1" type="" [routerLink]="['/offers']"  >Cancel</button>
      </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button  class="btn btn-primary mr-1" type="submit"   >Submit</button>
    </div>
    
    </form>

  </div>
   

  <!--
        <div
    aria-hidden="true"
    aria-labelledby="myModalLabel"
    bsModal
    class="modal fade"
    #myModal="bs-modal"
    id="myModal"
    role="dialog"
    tabindex="-1"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <button
            aria-hidden="true"
            class="close"
            data-dismiss="modal"
            type="button"
            (click)="myModal.hide()"
          >
            <i class="tim-icons icon-simple-remove"> </i>
          </button>
          <h4 class="title title-up">Upadate Offer</h4>
        </div>
        <div class="modal-body">
          <p>
          RECUPERER LES DATA
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button">Update</button>
          <button
            class="btn btn-danger"
            data-dismiss="modal"
            type="button"
            (click)="myModal.hide()">Cancel</button>
        </div>
      </div>
    </div>
  -->